// 1. Your custom variables and variable overwrites.
$global-primary-background: #053178;
$pfa-background-color: #0c3821;
$ifa-background-color: #510307;
$fa-background-color: #021c44;

#showCaseLaptop {
  li {
    display: none;

    &.uk-active {
      display: block;
    }
  }
}

#navbar {
  z-index: 9999 !important;
}

#PFA {
  background-color: $pfa-background-color !important;
}

#IFA {
  background-color: $ifa-background-color !important;
}

#FA {
  background-color: $fa-background-color !important;
}

// 2. Import default variables and available mixins.
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 4. Import UIkit.
@import "uikit-theme.scss";

#quotes {
  min-height: 270px;
  background-color: $global-secondary-background !important;
}
